body {
  margin: 0;
  padding: 0;
}
h1 {
  margin-left: 40px;
}
.head {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 20%;
  margin-left: 20px;
}
.head i {
  cursor: pointer;
}
.info-container {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
}
span {
  font-weight: 900;
}
